@import "../../../../styles/media";
@import "../../../../styles/colors";

.menuContainer {
  display: flex;
  justify-content: flex-end;

  ul {
    display: flex;

    li {
      margin-left: 1.25rem;
    }
  }
}

.logo {
  padding-left: 1.5rem;

  a {
    display: flex;
    align-items: center;
  }
}
