@import "../../../../styles/colors";

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $border-gray;
  box-shadow: 0 -0.5rem 0.5rem -0.5rem $border-gray inset;
  padding: 0 1rem;

  .scrollButton {
    overflow: hidden;
    border-radius: 0.25rem;

    .scroll {
      font-size: 0.75rem;
      padding: 0.5rem;
      cursor: pointer;

      .icon {
        margin-right: 0.25rem;
      }
    }
  }
}

.logos {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding: 0 1rem;

  .logo {
    display: flex;
    justify-content: flex-end;

    .dwango {
      height: 1.25rem;
      object-fit: cover;
      margin-bottom: 0.25rem;
    }
  }
}
