// blue
$base-blue: #2e75bc;
$button-top-blue: #429fe8;
$button-bottom-blue: #3e74c5;
$badge-top-blue: #d5efff;
$badge-bottom-blue: #9fdaff;
$badge-border-blue: #66b3f2;
$border-blue: #b6c7d3;
$head-font-blue: #8ab7d3;
$badge-font-blue: #2a79bb;
$link-font-color: #06c;

// black and white
$base-black: #111;
$base-gray: #888;
$border-gray: #ccc;
$banner-top-white: #eff6f7;
$information-top-gray: #ececec;
$information-bottom-gray: #f3f3f3;
$base-white: #fff;

//other
$badge-top-lime: #f1f2d5;
$badge-bottom-lime: #dfe1a8;
$badge-font-lime: #6e7f2b;
$badge-border-lime: #b3cd50;
