@import "../../../../styles/media";
@import "../../../../styles/colors";

.container {
  position: relative;
  width: 100%;

  .swiper {
    position: absolute;
    top: 0;
    width: 100%;

    img {
      width: 100%;
      height: 16rem;
      object-fit: cover;
      object-position: 50% 0%;
    }
  }

  .leftArrow {
    position: absolute;
    top: 45%;
    left: 0.25rem;
    color: $base-white;
    opacity: 0.8;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  .rightArrow {
    position: absolute;
    top: 45%;
    right: 0.25rem;
    color: $base-white;
    opacity: 0.8;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}
