@import "../../../../styles/colors";

.container {
  display: flex;
  align-items: flex-start;

  .tag {
    padding: 0.2rem 1.5rem;
    font-size: 0.75rem;
    text-shadow: 1px 1px $base-white;
    margin-right: 0.5rem;
    font-weight: bold;
    border-radius: 0.25rem;
    box-shadow: 0 0.15rem 0.25rem -0.1rem $base-gray;
  }

  .info {
    background: linear-gradient($badge-top-blue, $badge-bottom-blue);
    color: $badge-font-blue;
    border: 1px solid $badge-border-blue;
  }

  .press {
    background: linear-gradient($badge-top-lime, $badge-bottom-lime);
    color: $badge-font-lime;
    border: 1px solid $badge-border-lime;
  }
}
